<div class="jumbotron">
   <h1>DiscoverIt</h1>
   <h2>Share. Explore. DiscoverIt.</h2>
   <p class="welcome">DiscoverIt is a resource for sharing links with your team members!</p>
   
   <% if !current_user %>
    <p>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    </p>
   <% else %>
     <p class="welcome">Welcome, we're glad you could join the team!</p>
   <% end %>
</div>
 
<div class="row">
   <div class="col-md-4">
     <h2>Share</h2>
     <p>Share knowledge as you create and comment on existing topics and posts. We believe that everyone can make a difference! </p>
   </div>
   <div class="col-md-4">
     <h2>Explore</h2>
     <p>The world is endlessly full of things to learn and explore. It all begins with a single step.</p>
   </div>
   <div class="col-md-4">
     <h2>Discover</h2>
     <p>Build and develop your knowledge and skills, regardless of your discipline!</p>
   </div>
</div>
